{#
/**
 * @file
 * Default theme implementation of a Sirv image.
 *
 * Available variables:
 * - url:
 * - alt:
 * - title:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 * - sirv_settings:
 *   - profile:
 *   - responsive:
 *   - responsive_scale_crop:
 *   - responsive_resize_step:
 *   - lazy_load:
 *   - lazy_load_threshold:
 *
 * @see template_preprocess_sirv_image()
 *
 * @ingroup themeable
 */
#}

<img{{ attributes }} />
